.area {
	width:350px;
	height:105px;
    background-color:#bddedd;
}
.btn_1 {
	position:relative;
	top:15px;
	left:15px;
    width:130px;
    height:75px;
    font-size:25px;
    text-align:center;
    line-height:78px;
    color:#ffff00;
    background-color:#86b402;
    cursor: pointer;
    float:left;
}
.btn_2 {
	position:relative;
	top:15px;
	left:35px;
    width:170px;
    height:75px;
    border-radius:38px;
    font-size:25px;
    text-align:center;
    line-height:78px;
    color:#ffff00;
    background-color:#86b402;
    cursor: pointer;
    float:left;
}
