#text_1 {
    font-size:25px;
    color:#1646a7;
}
#text_2 {
    font-size:30px;
    color:#3868c9;
}
#text_3 {
    font-size:35px;
    color:#5a8aeb;
}
#text_4 {
    font-size:40px;
    color:#7cacfd;
}
