#square1 {
    width:300px;
    height:100px;
    background-color:#ff0000;
}
#square2 {
    width:200px;
    height:80px;
    background-color:#00ff00
}
#text1 {
    font-size:45px;
    color:#0000ff;
}
#text2 {
	font-size:65px;
	color:#1646a7;
}
